@model sidecar_dependent_app.Models.UserAuthViewModel

@{
    ViewData["Title"] = "App2";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>Logged-in User: Bob</p>
<p>Scopes retrieved from sidecar: </p>

@if (Model.Scopes.Count() > 0)
{

<div>
    @foreach (var scope in Model.Scopes)
    {
        <li>@scope</li>
    }
</div>

}
else
{
<div>
    THERE ARE NO SCOPES AVAIALBLE
</div>
}

