@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Introduction</h1>
    <p>This sample application demonstrates <strong>sidecar</strong> feature in PCF</p>
    <p>Once user logs into any of App1/App2/App3, app gets user's authorization information from sidecar.</p>
    <p>Learn about <a href="https://docs.pivotal.io/pivotalcf/2-6/devguide/sidecars.html">Pushing Apps with Sidecar Processes (Beta)</a>.</p>
</div>
